*{
    margin:0;
    padding:0;
}
body{
    background: white;
    width: 100%;
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;

}
main{
    width:100%;
    max-width:1300px;
    display:flex;
    justify-content: space-between;
    align-items: start;
    font-size:20px;
    /* flex-wrap:wrap; */
}
aside{
    width:100%;
    max-width:300px;
    background-color: aquamarine;
    position:sticky;
    top:0;
    height:100vh;
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
aside > a{
    margin:2%;
}
aside > picture > img{
    max-width:300px;
    width:100%;
}
article{
    width:100%;
    max-width: 900px;
    font-size: 30px;
    display:flex;
    justify-content: start;
    align-items: baseline;
    flex-direction: column;
}
.name{
    width:100%;
    max-width:900px;
    background-color: antiquewhite;
}